html {
	background-color: #23233d;
}

body {
	background-color: #eaeef2;
	padding-top: 150px;
	font-family: 'Baloo Bhai', cursive;
	position: relative;
	min-height: 100vh;
}

header {
	padding: 0 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #23233d;
	top: 0;
	height: 100px;
	position: fixed;
	width: 100%;
	color: #ffffff;
	box-shadow: 0px 5px 20px 5px rgba(0,0,0, 0.2);
}

.container {
	padding-bottom: 150px;
}

footer {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #23233d;
	height: 100px;
	width: 100%;
	color: #ffffff;
	box-shadow: 0px -5px 20px 5px rgba(0,0,0, 0.2);
	position: absolute;
	  bottom: 0;
	  width: 100%; 
}